<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   
   
   
   
   
   
   
   <extension
         point="org.eclipse.ui.handlers">
   </extension>
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="patientManagementCategory"
            class="com.bitcold.charts.views.ChartView"
            id="com.bitcold.charts"
            name="Chart View"
            restorable="true">
      </view>
      
   </extension>      
   
   
   


</plugin>
